__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
.pytest_cache/
.ruff_cache/
.idea/
.DS_Store

.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
