docker_host       = "unix:///var/run/docker.sock"
bind_ip           = "127.0.0.1"
service_host      = "127.0.0.1"
python_version    = "3.14"
api_port          = 8000
postgres_user     = "dmc268"
postgres_password  = "CHANGE_ME_POSTGRES"
postgres_db       = "dmc268"
postgres_port     = 5432
rabbitmq_user     = "dmc268"
rabbitmq_password  = "CHANGE_ME_RABBITMQ"
rabbitmq_port     = 5672
