docker_host     = "unix:///var/run/docker.sock"
bind_ip         = "127.0.0.1"
postgres_user   = "dmc268"
postgres_password = "CHANGE_ME_POSTGRES"
postgres_db     = "dmc268"
postgres_port   = 5432
rabbitmq_user   = "dmc268"
rabbitmq_password = "CHANGE_ME_RABBITMQ"
rabbitmq_port   = 5672
redis_port      = 6379
redis_password  = "CHANGE_ME_REDIS"
